/* These are all for the animation of the map */
#p-animation{ visibility: hidden; }
#s-animation{ 
	visibility: hidden; 
	position:absolute;
	top:220px;
	cursor: pointer;
	left:60px;
	font-size:16px;
    z-index:1009;
}

/* This is the Loading text */
#l-animation{ 
	visibility: hidden; 
	position:absolute;	
	margin:auto;
    top:30%;
    left:40%;
    z-index:1009;
	pointer-events: none;
}


/*holds the start calendar  */
div.startDateCal{
    top: 50px;
    left: 50px;
    position:absolute;
    z-index:1000;
    visibility: hidden;
}

/*holds the end calendar  */
div.endDateCal{
    top: 50px;
    left: 220px;
    position:absolute;
    z-index:1000;
    display:inline;
    visibility: hidden;
}
