/* Default style for the page */
body {
	font-family:Tahoma, Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #296E8D;
}

/* animation button that pops up when calendar dates have been selected */
div.dispAnimation{
	top: 220px;
	left: 50px;
	position:absolute;
	z-index:1000;
	display:inline;
	visibility: hidden;
}

/* optional layers suck as us state, DeepC, etc*/
#optionalMenuParent
{

	position:absolute;
	top:275px;
	left:48px;
	text-align:left;
        z-index:1009;

}

/* This is the small Scale line in the bottom of the map */
div.olControlScaleLine {
	display:table;
	table-layout:fixed;
	font-size: 0.5em;

	color:black;
	left:48%;
	bottom:80px;

	font-weight: bold;
	text-align:left;
}

/* Div to display latitude and longitude*/
div.layersLongLat{
	position:absolute;
	bottom:40px;
	right:200px;
	z-index:1000;
	display:inline;
	width: 145px;
	height:25px;
	padding-bottom:7px;
	padding-left:6px;
	text-align:left;
	background-image:url('../images/transBack.png');
	font-size: 13px;
	border-style: solid;
	border-width: thin;
	border-color: black;

	pointer-events: none;
}
/* Div where the specific data of the layers are displayed */
div.layersData{
	position:absolute;
	z-index:1003;
	display:inline;
	width: 220px;
	min-height:0px;
	padding-bottom:2px;
	padding-left:2px;
	text-align:left;
	background-image:url('../images/transBack.png');
}
/* Main div for user menu options. Where the dropdown, vector layers etc are now topmenu */
div.layersMenu{

    
background-image:url('../images/transBack.png');
    top:0px;
    left:0px;
    z-index:1002;
    position:absolute;
    border-bottom:white 1px solid;
    height:50px;
    width:100%;


}
/* Left fotter */
div.leftFoot{
	position:absolute;
	bottom:1%;
	left:2%;
	z-index:1000;
	display:inline;
	color:black;
	opacity:0.7;
}
/* Main title */
div.mapTitle{
	position:absolute;
	width: 100%;
	top:55px;
	left:0%;
	z-index:1000;
	display:inline;
	text-align:center;
	pointer-events: none;
}

/*These are the plus and minus images of the color ranges, 
and also the plus and minus buttons of the transparency and
elevation options.*/
.minusButton, .plusButton
{
	font-size: 12px; 
	font-weight: bold;
	vertical-align: top;
}

.middleText
{
    
    font-size:12px;
    
}

a
{
	text-decoration: none;
}

/* Drop down for selection of main layer */
select.menu{

	font-size: 12px;
	top:0px;
}


/* Subtable that contains the optional layers */
table.vectorLayer{
	border-radius: 10px;
	/*  background-image:url('../images/transBack.png');*/
	background-color:black;
	opacity:0.85;
	font-size: 10px;
	color:white;
	font-weight: bold;
	border: solid 1px white;
}/* Subtable that contains the optional layers */



/*part of the color pallete */
td.waitBack{
	/*	border-radius: 10px;*/
	/*	background-image:url('../images/transBack.png'); */
	valign: up;
}

.palMinMax{
	font-size:13px;
}


input[type=text]{
	font-size: 11px;
}

p /* This is the default font type for the letters in the page */
{
	color:black;
	font-size:18px;
	text-shadow: 0px -1px 5px #DCDCDC,     /* north      */
		0px  1px 5px #DCDCDC,     /* south      */
		-1px  0px 5px #DCDCDC,     /* west       */
		1px  0px 5px #DCDCDC,     /* east       */
		-1px -1px 5px #DCDCDC,     /* north-west */
		-1px  1px 5px #DCDCDC,     /* north-east */
		1px -1px 5px #DCDCDC,     /* south-west */
		1px  1px 5px #DCDCDC;     /* south-east */

	margin:.5em 0 .5em 0;
}

/*title on top of calendar */
.calTitle{
	font-size:13px;
}

.defShadow{ /* This font type inverts the color of the font and the shadow */
	font-size:13px;
	margin:.5em 0 .5em 0;
}

.invShadow{ /* This font type inverts the color of the font and the shadow */
	font-size:13px;
	color:#DCDCDC;
	font-weight: bold;
	text-shadow: 0px -1px 5px #000000,     /* north      */
		0px  1px 5px #000000,     /* south      */
		-1px  0px 5px #000000,     /* west       */
		1px  0px 5px #000000,     /* east       */
		-1px -1px 5px #000000,     /* north-west */
		-1px  1px 5px #000000,     /* north-east */
		1px -1px 5px #000000,     /* south-west */
		1px  1px 5px #000000;     /* south-east */

	margin:.5em 0 .5em 0;

	/* The next lines are for IE */
	/*	zoom: 1;*/
	/*	filter:progid:DXImageTransform.Microsoft.Chroma(Color=#000000)*/
	/*		progid:DXImageTransform.Microsoft.Glow(Strength=5, Color=#000000);*/
}
.footNote{
	font-size:12px;
	display:inline;
	padding-bottom: 5px;
}


/* Help display container */
#helpInstructions
{
	border:solid black;
	position:absolute;
	left:50px;
	visibility:hidden;
	z-index:1009;
	height:700px;
	right:200px;
	top:100px;
	border-radius: 10px;
	margin-top: 2em;
	margin-bottom: 2em;
	border:solid white 2px;
	background-color: black;
	font-size: 13px;
	color:white;
	width:70%;


	overflow-x:hidden;
        overflow-y:auto;    

}

/*part of help instructions */
#align_left td{
	text-align: left;
	border-bottom: dashed grey 1px;
}

.helpTitle{

	text-align:center;
	font-size:16px;
	font-weight: bold;
	padding:7px;
	margin:7px;
	color:black;
}

/* cancel botton of help intructions*/
.cancelButton{
	font-size: 11px;
	float:right;
}

/* part of help instructions*/
.no_hover{
	background-color: #111;

}


.mainMenuOption{
    
    color:#ffffff;
    background-color: #444444;
    
    
    
    
}



.mainMenu{
	-moz-box-shadow:inset 0px 1px 0px 0px #0f020f;
	-webkit-box-shadow:inset 0px 1px 0px 0px #0f020f;
	box-shadow:inset 0px 1px 0px 0px #0f020f;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #444444), color-stop(1, #a396a3) );
	background:-moz-linear-gradient( center top, #444444 5%, #a396a3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#a396a3');
	background-color:#444444;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #080708;
	display:block;
	color:#ffffff;
	font-family:Calibri, Arial, sans-serif;
	font-size:13px;
	
	padding:5px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #0a010a;
}.mainMenu:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a396a3), color-stop(1, #444444) );
	background:-moz-linear-gradient( center top, #a396a3 5%, #444444 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a396a3', endColorstr='#444444');
	background-color:#a396a3;
}
    
  



.buttonStyle {
	-moz-box-shadow:inset 0px 1px 0px 0px #0f020f;
	-webkit-box-shadow:inset 0px 1px 0px 0px #0f020f;
	box-shadow:inset 0px 1px 0px 0px #0f020f;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #444444), color-stop(1, #a396a3) );
	background:-moz-linear-gradient( center top, #444444 5%, #a396a3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#a396a3');
	background-color:grey;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #080708;
	display:block;
	color:#ffffff;
	font-family:Calibri, Arial, sans-serif;
	font-size:13px;
	
	padding:6px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #0a010a;
}.buttonStyle:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a396a3), color-stop(1, #444444) );
	background:-moz-linear-gradient( center top, #a396a3 5%, #444444 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a396a3', endColorstr='#444444');
	background-color:#a396a3;
}.buttonStyle:active {
	position:relative;
	top:1px;
}

.defaultOptions{
	-moz-box-shadow:inset 0px 1px 0px 0px #0f020f;
	-webkit-box-shadow:inset 0px 1px 0px 0px #0f020f;
	box-shadow:inset 0px 1px 0px 0px #0f020f;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #444444), color-stop(1, #a396a3) );
	background:-moz-linear-gradient( center top, #444444 5%, #a396a3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#a396a3');
	background-color:#444444;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #080708;
	display:block;
	color:#ffffff;
	font-family:Calibri, Arial, sans-serif;
	font-size:15px;
	
	padding:1px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #0a010a;
}.defaultOptions:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a396a3), color-stop(1, #444444) );
	background:-moz-linear-gradient( center top, #a396a3 5%, #444444 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a396a3', endColorstr='#444444');
	background-color:#a396a3;
}.defaultOptions:active {
	position:relative;
	top:1px;
}


/* This imageless css button was generated by CSSButtonGenerator.com */
/*

.buttonStyle, .buttonStyle:visited {

    background: #444444 url('../images/overlayy.png') repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #ffffff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font-family:Calibri, Arial, sans-serif;
    border:solid 1px #000000 ;
    font-size: 12px;



}

.buttonStyle:hover, .buttonStyle:hover                            
{ background-color: #111; }



.defaultOptions, .defaultOptions:visited{
	background: #444444 url('../images/overlayy.png') repeat-x;
	display: inline-block;
	font-size: 10px;
	color: #ffffff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	font-family:Calibri, Arial, sans-serif;
	border:solid 1px #000000 ;
	padding: 0px;

}
.defaultOptions:hover, .defaultOptions:hover                            { background-color: #111; }
*/

.bigFontSize{
	font-size: 30px;
}

.terco
{
    
    display:inline;
    
}

/* area that holds loading button*/
.loading_area
{
	border:solid red;
	z-index:1008;
	position:absolute;
	top:300px;
	left:300px;
}

#elevationSelector
{
	position: absolute;
	top:45px;
	left:40%;

	display:none;
	
	border:solid black;    
	/*height:300px;*/
	
	z-index:1009;    
	border-radius: 10px;
	margin-top: 2em;
	margin-bottom: 2em;
	
	background-color:#444444 ;
	font-size: 12px;
	color:#ffffff;  
	/*overflow-x:hidden;*/
	/*overflow-y:scroll;*/ 
	visibility: hidden;
    padding:5px;

	cursor: move;
}


/* This are all the hover instructions of the menu options*/
#mainMenuParentHover
{
	display:none;
	top:40px;
}


#mainKmlParentHover
{
    top:40px;
    display:none;
}


#transParentHover{
	top:40px;
	display:none;
}

#elevationParentHover{

	top:40px;
	display:none;
}

#palettesHover{

	top:40px;
	display:none;

}

#transectParentHover{

	top:40px;
	display:none;

}

.commonHover
{
	border:1px solid;
	padding:5px;
	font-size: 11px;
	background-image:url('../images/transBack.png');
	background-color: darkkhaki;
	position:absolute;
	z-index:1002;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;

}


