/* 
    Document   : MapDefault
    Created on : Nov 7, 2011, 10:03:32 AM
    Author     : olmozavala
    Description:
        Purpose of the stylesheet follows.
*/

/* Default style for the page */
body {
    font-family:Tahoma, Verdana, Arial, sans-serif;
    margin: 0; 
    padding: 0;
    text-align: center;
    background-color: #296E8D;   
}   

/* Minus Button used on transparency and elevation */
.minusButton{
    font-size:10px;
    font-weight:bold;
    padding:2px;
    cursor:pointer;
}
/* Plus Button used on transparency and elevation */
.plusButton{
    font-size:10px;
    font-weight:bold;
    padding:2px;
    cursor:pointer;
}

/* Transparency text */
#transText{
    cursor:default;
	font-size:14px;
}

.elevationTable{
	width:100%;
	text-align: center;
}

#elevationParent{
}

/* Transparency text */
#elevationText{
    cursor:pointer;
	margin-top:0px;
	margin-bottom:0px;
}

div.palettesDiv{
    top: 120px;
    right: 200px;
    position:absolute;
    z-index:1006;
    color: white;
    border-radius: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    background-image:url('../images/transBack.png'); 
    visibility: hidden;
}

div.dispAnimation{
    top: 240px;
    left: 60px;
    position:absolute;
    z-index:1000;
    display:inline;
    visibility: hidden;
}


/* This is the small Scale line in the bottom of the map */
div.olControlScaleLine {
    display:table;
    table-layout:fixed;
    font-size: 0.5em;

    color:black;
    left:48%;
    bottom:80px;

    font-weight: bold;
    text-align:left;
}

/* Div to display latitude and longitude*/
div.layersLongLat{
    position:absolute;
    bottom:40px;
    right:200px;
    z-index:1000;
    display:inline;
    width: 145px;
    height:25px; 
    padding-bottom:7px;
    padding-left:6px;   
    text-align:left;
    background-image:url('../images/transBack.png'); 
    font-size: 13px;
    border-style: solid;
    border-width: thin;
    border-color: black;
}
/* Div where the specific data of the layers are displayed */
div.layersData{
    position:absolute;
    z-index:1003;
    display:inline;
    width: 220px;
    min-height:0px; 
    padding-bottom:2px;
    padding-left:2px;   
    text-align:left;
    background-image:url('../images/transBack.png'); 
}
/* Main container for user menu options. Where the dropdown, vector layers etc are */
#allMenuParent{
    position:absolute;
    top:60px;
    right:1%;
    z-index:1002;
    display:inline;
    padding:3px;
    min-width: 170px;
    opacity:0.85;
}
/* Left fotter */
div.leftFoot{
    position:absolute;
    bottom:1%;
    left:2%;
    z-index:1000;
    display:inline;
    color:black;
    opacity:0.7;
}
/* Main title */
div.mapTitle{    
    position:absolute;	
    width: 100%;
    top:.5%;
    left:0%;
    z-index:1002;
    display:inline;
    text-align:center;
	pointer-events: none;
}

a
{
    text-decoration: none;
}

/* Drop down for selection of main layer */
select.menu{
    width:100%;
    font-size: 13px;
}

/* Table that contains all the menus */
#t_allMenu{
    width: 100%;
	border-style: dashed;
}

#t_mainMenu{
    width: 100%;
    text-align:center;
}

/* Subtable that contains the optional layers */
table.vectorLayer{
    border-radius: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    background-image:url('../images/transBack.png'); 
    font-size: 12px;
    color:black;
}/* Subtable that contains the optional layers */

table.palette{
    font-size: 12px;
    color:black;
}
td.waitBack{
    /*	border-radius: 10px;*/
    /*	background-image:url('../images/transBack.png'); */
    valign: up;
}

input[type=text]{
    font-size: 11px;
}

p /* This is the default font type for the letters in the page */
{
    color:black;
    font-size:18px;    
    text-shadow: 0px -1px 5px #DCDCDC,     /* north      */
        0px  1px 5px #DCDCDC,     /* south      */
        -1px  0px 5px #DCDCDC,     /* west       */
        1px  0px 5px #DCDCDC,     /* east       */
        -1px -1px 5px #DCDCDC,     /* north-west */
        -1px  1px 5px #DCDCDC,     /* north-east */
        1px -1px 5px #DCDCDC,     /* south-west */
        1px  1px 5px #DCDCDC;     /* south-east */ 

    margin:.5em 0 .5em 0;
}
/* This class represent default options on the menu
 * that are not buttons, like Transparency or Elevation */
.defaultOptions{
    font-size:13px;
}
.bigFontSize{
	font-size: 24px;
}
.calTitle{
    font-size:13px;
}
.palMinMax{
    font-size:13px;
}
.defShadow{ /* This font type inverts the color of the font and the shadow */
    font-size:13px;    
    margin:.5em 0 .5em 0;
}
.invShadow{ /* This font type inverts the color of the font and the shadow */
    font-size:13px;    
    color:#DCDCDC;
    font-weight: bold;
    text-shadow: 0px -1px 5px #000000,     /* north      */
        0px  1px 5px #000000,     /* south      */
        -1px  0px 5px #000000,     /* west       */
        1px  0px 5px #000000,     /* east       */
        -1px -1px 5px #000000,     /* north-west */
        -1px  1px 5px #000000,     /* north-east */
        1px -1px 5px #000000,     /* south-west */
        1px  1px 5px #000000;     /* south-east */ 

    margin:.5em 0 .5em 0;

    /* The next lines are for IE */
    /*	zoom: 1;*/
    /*	filter:progid:DXImageTransform.Microsoft.Chroma(Color=#000000)*/
    /*		progid:DXImageTransform.Microsoft.Glow(Strength=5, Color=#000000);*/
}
.footNote{
    font-size:12px;    
    display:inline;
    padding-bottom: 5px;
}

.helpInstructions{   
    position:absolute;	
    min-width: 600px;
    min-height: 400px;
	width: 70%;
	height: 80%;
    right:200px;
    top:50px;
    display:inline;
    visibility: hidden;    
    border:solid black;
    z-index:1005;
    border-radius: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    background-image:url('../images/transBack.png'); 
    font-size: 12px;
    color:black;
    background-color: white;
    overflow-y:scroll;
    text-align: left;
	padding: 10px;
	margin: 7px;
}
.helpInstructions td{
}
.helpInstructions th{
    text-align:center;
    font-size:16px;
    font-weight: bold;
    padding:7px;
    margin:7px;
    color:black;
	vertical-align: top;
	text-align:center;
}

#align_center {
    text-align:center;
}


.cancelButton{   
    font-size: 11px;
    float:right;   
}

/*Hide the draw polygon button*/
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive{
    background-position: -26px -1px;
    visibility: hidden;    
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive {
    background-position: -26px -24px;
    visibility: hidden;    
}

.olControlEditingToolbar .olControlDrawFeaturePointItemInactive {
    background-position: -77px -1px;
    visibility: hidden;    
}
.olControlEditingToolbar .olControlDrawFeaturePointItemActive {
    background-position: -77px -24px;
    visibility: hidden;    
}

#hieght_tool
{
    border:solid red;
    position:absolute;
    width:200px;
    height:300px;
    z-index:1000;
    top:250px;
}

.buttonStyle, .buttonStyle:visited {
    background: #444444 url('../images/overlayy.png') repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font-family:Calibri, Arial, sans-serif;
}

/* Defines the style of all the buttons on the menu */
.buttonStyle, .buttonStyle:visited {
	 background: #444444 url('../images/overlayy.png') repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font-family:Calibri, Arial, sans-serif;
	font-size: 13px;
}
.buttonStyle:hover                            { background-color: #111; color: #fff; }
.buttonStyle:active                            { top: 1px; }



/*This is when the user click on elevation button and the new window appears */
 #elevationSelector
{
	position: absolute;
	top:50px;
	right:200px;

display:none;
	background-image:url('../images/transBack.png');

		
	border:solid black;
    
	height:300px;
    width:150px;
    
    z-index:1009;
    
    border-radius: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
    background-image:url('../images/transBack.png');
    background-color: white;
    font-size: 12px;
    color:black;
  
    overflow:scroll;
	
}

#elevationSelector{
	visibility: hidden;
}


/* This are all the hover instructions of the menu options*/
#mainMenuParentHover
{
	display:none;
	top:8px;
        right:175px;
        width:100%;
}


#mainKmlParentHover
{
    
    top:285px;
        right:175px;
        width:100%;
    display:none;
}


#transParentHover{

top:30px;        right:175px;        width:100%;
display:none;
}

#elevationParentHover{

top:65px;        right:175px;        width:100%;
display:none;
}

#palettesHover{

top:190px;        right:175px;        width:100%;
display:none;

}

#transectParentHover{

top:100px;        right:175px;        width:100%;
display:none;

}



.commonHover
{
	border:1px solid;
	padding:5px;
	font-size: 11px;
	background-image:url('../images/transBack.png');
	background-color: darkkhaki;
	position:absolute;
        z-index:1002;
        -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
        
}
