/* 
    Document   : MapDefault
    Created on : Nov 7, 2011, 10:03:32 AM
    Author     : olmozavala
    Description:
        Purpose of the stylesheet follows.
*/
/* Used by OpenLayers to display the map*/
#map
{
	cursor:crosshair;
	margin-left: auto ;
	margin-right: auto ;	
}

/* Used by open layers to display longitude and latitude */
#location {
	color: black;
	font-size: 12px;
	text-align: center;
	display: inline; 
	margin: auto;
}

#panZoom{
	top:40%;
	position: absolute;
	background: green;
	z-index: 1009;
}

/* This is the style of the OpenLayers pop up (Layer details)
	The font size has to be defined on JavaScript (I doesn't work here)*/
div.olPopupContent{
	background-image:url('../images/transBack2.png'); 
	border-radius: 10px;
	overflow: hidden;
	width: 190px;
}

/* This is the div used to put the netCDF animation */
#mapOverlayDiv{
	position: absolute;
	visibility: hidden;
	width: 10%;
	height: 10%; 
	top: 1%;
	left: 1%;
}

#p-animation{ visibility: hidden; }
#s-animation{ visibility: hidden; }
#l-animation{ visibility: hidden; }

/* Default style for the page */
body {
	font-family:Tahoma, Verdana, Arial, sans-serif;
	margin: 0; 
	padding: 0;
	text-align: center;
	background-color: #296E8D;   
}   

img{
}
.alphaText{
	cursor: pointer;
}

div.startDateCal{
	top: 60px;
	left: 50px;
	position:absolute;
	z-index:1006;
	visibility: hidden;
}

div.endDateCal{
	top: 60px;
	left: 220px;
	position:absolute;
	z-index:1007;
	display:inline;
	visibility: hidden;
}

div.palettesDiv{
	top: 120px;
	right: 200px;
	position:absolute;
	z-index:1006;
	color: white;
	border-radius: 10px;
	margin-top: 2em;
	margin-bottom: 2em;
	background-image:url('../images/transBack.png'); 
	visibility: hidden;
}


div.dispAnimation{
	top: 240px;
	left: 60px;
	position:absolute;
	z-index:1007;
	display:inline;
	visibility: hidden;
}
/* This is the small Scale line in the bottom of the map */
div.olControlScaleLine {
	display:table;
	table-layout:fixed;
	font-size: 0.5em;

	color:black;
	left:48%;
	bottom:80px;

	font-weight: bold;
	text-align:left;
}

/* Div to display latitude and longitude*/
div.layersLongLat{
	position:absolute;
	bottom:40px;
	right:200px;
	z-index:1003;
	display:inline;
	width: 145px;
	height:25px; 
	padding-bottom:7px;
	padding-left:6px;   
	text-align:left;
	background-image:url('../images/transBack.png'); 
	font-size: 13px;
	border-style: solid;
	border-width: thin;
	border-color: black;
}
/* Div where the specific data of the layers are displayed */
div.layersData{
	position:absolute;
	z-index:1003;
	display:inline;
	width: 220px;
	min-height:0px; 
	padding-bottom:2px;
	padding-left:2px;   
	text-align:left;
	background-image:url('../images/transBack.png'); 
}
/* Main div for user menu options. Where the dropdown, vector layers etc are */
div.layersMenu{
	position:absolute;
	top:60px;
	right:1%;
	z-index:1002;
	display:inline;
	padding:3px;
	min-width: 170px;
	opacity:0.85;
}
/* Left fotter */
div.leftFoot{
	position:absolute;
	bottom:1%;
	left:2%;
	z-index:1002;
	display:inline;
	color:black;
	opacity:0.7;
}
/* Main title */
div.mapTitle{    
	position:absolute;	
	width: 100%;
	top:.5%;
	left:0%;
	z-index:1002;
	display:inline;
	text-align:center;
}

a
{
	text-decoration: none;
}

/* Drop down for selection of main layer */
select.menu{
	width:100%;
	font-size: 13px;
}
/* Table that contains the optional layers */
table.menus{
	width: 100%;
}
/* Subtable that contains the optional layers */
table.vectorLayer{
	border-radius: 10px;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 100%;
	background-image:url('../images/transBack.png'); 
	font-size: 12px;
	color:black;
}/* Subtable that contains the optional layers */

table.palette{
	font-size: 12px;
	color:black;
	height: 100px;
}
td.waitBack{
/*	border-radius: 10px;*/
/*	background-image:url('../images/transBack.png'); */
	valign: up;
}

input[type=text]{
	font-size: 11px;
}

p /* This is the default font type for the letters in the page */
{
	color:black;
	font-size:18px;    
	text-shadow: 0px -1px 5px #DCDCDC,     /* north      */
		0px  1px 5px #DCDCDC,     /* south      */
		-1px  0px 5px #DCDCDC,     /* west       */
		1px  0px 5px #DCDCDC,     /* east       */
		-1px -1px 5px #DCDCDC,     /* north-west */
		-1px  1px 5px #DCDCDC,     /* north-east */
		1px -1px 5px #DCDCDC,     /* south-west */
		1px  1px 5px #DCDCDC;     /* south-east */ 

	margin:.5em 0 .5em 0;
}
.alphaText{
	font-size:13px;
}
.calTitle{
	font-size:13px;
}
.palMinMax{
	font-size:13px;
}
.defShadow{ /* This font type inverts the color of the font and the shadow */
	font-size:13px;    
	margin:.5em 0 .5em 0;
}
.invShadow{ /* This font type inverts the color of the font and the shadow */
	font-size:13px;    
	color:#DCDCDC;
	font-weight: bold;
	text-shadow: 0px -1px 5px #000000,     /* north      */
		0px  1px 5px #000000,     /* south      */
		-1px  0px 5px #000000,     /* west       */
		1px  0px 5px #000000,     /* east       */
		-1px -1px 5px #000000,     /* north-west */
		-1px  1px 5px #000000,     /* north-east */
		1px -1px 5px #000000,     /* south-west */
		1px  1px 5px #000000;     /* south-east */ 

	margin:.5em 0 .5em 0;

	/* The next lines are for IE */
/*	zoom: 1;*/
/*	filter:progid:DXImageTransform.Microsoft.Chroma(Color=#000000)*/
/*		progid:DXImageTransform.Microsoft.Glow(Strength=5, Color=#000000);*/
}
.footNote{
	font-size:12px;    
	display:inline;
	padding-bottom: 5px;
}