/* 
    Document   : OpenLayersRelated
    Created on : Sep 18, 2012, 12:56:51 PM
    Author     : Olmo Zavala 
    Description:
	This CSS should contain all the styles related with open layer divs and
	buttons like the map itself, the lat lon div, the pan zoom, etc.:W
*/

/* Used by OpenLayers to display the map*/
#map
{
    cursor:crosshair;
    margin-left: auto ;
    margin-right: auto ;	
}

/* Controls the size of the 'numbers' in the
 * Latitude: Longitude box */
#location {
    color: black;
    font-size: 12px;
    text-align: center;
    display: inline; 
    margin: auto;
}

/* Defines the style for the PanPanel control */
div.olControlPanPanel{
    /*
    position:absolute;
    top:55px;
    */
}

/* Defines the style for the ZoomPanel control */
div.olControlZoomPanel{
    /*
    position:absolute;
    top:125px;
    */
}
/* This is the style of the OpenLayers pop up (Layer details)
        The font size has to be defined on JavaScript (I doesn't work here)*/
div.olPopupContent{
    background-image:url('../images/transBack2.png'); 
    border-radius: 10px;
    overflow: hidden;
    width: 190px;
}

/* This is the div used to put the netCDF animation */
#mapOverlayDiv{
    position: absolute;
    visibility: hidden;
    width: 10%;
    height: 10%; 
    top: 1%;
    left: 1%;
}
