/* 
    Document   : Palettes
    Created on : Nov 6, 2012, 4:11:25 PM
    Author     : olmozavala
    Description:
		Should have all the styling related with the palettes and
		range of colors.
*/

/* table that contains current palette
and the color range*/
#palette{
	border-radius: 10px;
	background-color:black;
	border: solid 1px white;
	visibility: hidden;
	/*This is the hight of the palette image*/
	/*min-height: 120px;*/
    cursor:move;
}

/* Color palettes that pops with all the optional palettes */ 
/* IMPORTANT we can't use ''right' because the windows doesn't drag properly*/
div.palettesDiv{
	top: 25px;
	left: 50%;
	position:absolute;
	z-index:1008;
	color: white;    
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: black;
	border:solid 1px white;
	padding:3px;
}

#palettesParent
{
	position:absolute;
	top:55px;
	right: 10px;
	width:200px;
	z-index:1008;
	visibility: hidden;
}

/* Main parent div of the optional palettes */
#palettes-div{
	visibility: hidden;
	cursor: move;
}


#imgPalette{
}

#palettesHover{
	display:none;
}

/*
Table that contains all the optional palettes
*/
#palettesTable{
    cursor: pointer;
}